<ul>
  <li><a routerLink="">Empty</a></li>
   <li>
    <a
      [routerLink]="['/']"
      [queryParams]="{
        type: 'ogcfeature',
        file: 'https://gis.lfrz.gv.at/api/geodata/i009501/ogc/features/v1',
      }"
      >gis.lfrz.gv.at</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/']"
      [queryParams]="{
        type: 'ogcfeature',
        file: 'https://ogc-api.nrw.de/inspire-lc-le/v1/',
      }"
      >ogc-api.nrw.de</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/']"
      [queryParams]="{
        type: 'ogcfeature',
        file: 'https://api.hamburg.de/datasets/v1/ambulante_pflegedienste',
      }"
      >Ambulante Pflegedienste Hamburg</a
    >
  </li>
  <li>
    <a
      [routerLink]="['/']"
      [queryParams]="{
        type: 'ogcfeature',
        file: 'https://geo.rijkswaterstaat.nl/services/ogc/gdr/kerngis_droog/ogc/features/v1/collections',
      }"
      >OGC API/Webservice Rijkswaterstaat</a
    >
  </li>
</ul>
