<div class="wrapper">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="https://www.europeandataportal.eu/themes/edp3/assets/images/edp-logo.png" alt="" width="45"
          height="45">
        <span class="edp-title">
          {{'title' | translate}}
        </span>
      </a>
      <div class="dataset-title">
        <app-dataset-title></app-dataset-title>
      </div>
      <app-language-selector></app-language-selector>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
