<div class="wrapper">
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="branding" style="align-items: center;">
        <div>
          <img src="/assets/images/logo.svg">
        </div>
        <div>
          {{'title' | translate}}
        </div>
      </a>
      <div class="dataset-title d-none d-md-block">
        <app-dataset-title></app-dataset-title>
      </div>
      <app-language-selector></app-language-selector>
    </div>
    <div class="dataset-title-small d-sm-block d-md-none">
      <app-dataset-title></app-dataset-title>
    </div>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>
