<div class="popup-wrapper">
  <div>{{title()}}</div>
  @if (properties().length) {
    <table class="table table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th scope="col">Key</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        @for (country of properties(); track country; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ country.key }}</td>
            <td>{{ country.value }}</td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>
