/* You can add global styles to this file, and also import other style files */

$primary : #001D85;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ol/ol.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~intro.js/introjs.css';
@import 'assets/intro-themes.css';


.btn-primary:hover {
    background-color: #062fc5;
    border-color: #062fc5;
}