/* You can add global styles to this file, and also import other style files */

$primary : #001D85;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~ol/ol.css';
@import '~@angular/cdk/overlay-prebuilt.css';
@import '~intro.js/introjs.css';
@import 'assets/intro-themes.css';

.btn {
    display: inline-block;
    font-weight: 700;
    // color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // background-color: transparent;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.33;
    border-radius: 1.875rem;
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
}

.btn-primary:hover {
    background-color: #062fc5;
    border-color: #062fc5;
}